aiofiles>=24.1.0
asyncpg>=0.30.0
black>=24.10.0
bs4>=0.0.2
docxtpl>=0.19.1
fastapi[standard]>=0.115.6
flake8>=7.1.1
isort>=5.13.2
pandas>=2.2.3
python-decouple>=3.8
python-docx>=1.1.2
reportlab>=4.2.5
selenium>=4.27.1
sqlalchemy>=2.0.37
sqlmodel>=0.0.22
uvicorn[standard]>=0.34.0
# pillow>=11.1.0